.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.logo{
    padding-left: 220px;
    padding-top: 30px;
}
.top-header{
    display: inline-flex; !important;
    justify-content: space-between;
    height: 630px;
    width: 100%;
    background-image: url("../images/construction-worker.png");
    background-repeat: no-repeat;
    background-position:center;
    background-color: rgb(190, 204, 213);
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;   
}
.dropbtn{
   
   font-size: 60px;
    width: 160px;
    padding-top: 30px;
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
}
.meniu{
    right: 200px;
    position: absolute;
    z-index: 15;

}
li a:hover, .dropdown:hover .dropbtn {
   text-decoration: none;
    color:black;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    max-width: 160px;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 40;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
   
    
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
    
}
/*BACKGROUND SLIDERIS*/
.wrapper {
  overflow: hidden;
  width: 444px;
  
}

.sliding-background {
  background: url("../images/panorama-room-home-design-very-nice-wonderful-under-panorama-room-interior-design-trends.jpg") repeat-x;
  height: 630px;
  width: 2400px;
  animation: slide 200s linear infinite;
   
}

@keyframes slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-3000px, 0, 0);
  }
}
/*SLIDERIS*/
.intro {
	position: absolute;
	width: 98.5%;
    top: 180px;
    display: flex;
    justify-content: center;
    height: 240px;
}

.slider {
	float: left;
	position: relative;
    left: 20px;
	width: 475px;
	height: 220px;  
}
.slider1 {
	float: right;
	position: relative;
	width: 240px;
	height: 220px;
    margin-left: 248px;
    
}
.slider li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: clip .7s ease-in-out, z-index 0s .7s;
	clip: rect(0, 100vw, 100vh, 100vw);
	display: table;
}
.slider1 li {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	transition: clip .7s ease-in-out, z-index 0s .7s;
	clip: rect(0, 100vw, 100vh, 100vw);
	display: table;
    
}
.center-y {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #fff;
  background-color: #ffe420;
}
.center1-y {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #d7d7d7;
  background-color: #fff;
    
}
h3 {
	font-size: 2rem;
    margin-bottom: 5px;

}
h3 + a {
	font-size: 1.6rem;
	display: inline-block;
	color: #d7d7d7;
	margin-top: 2rem;
}
h3, h3 + a {
	opacity: 0;
	transition: opacity .7s 0s, transform .5s .2s;
	transform: translate3d(0, 50%, 0);
}
li.current h3, li.current h3 + a {
    padding-bottom: 30px;
	opacity: 1;
	transition-delay: 1s;
	transform: translate3d(0, 0, 0);
}
li.current {
	z-index: 1;
	clip: rect(0, 100vw, 100vh, 0);
}
li.prev {
	clip: rect(0, 0, 100vh, 0);
}
.slider nav {
	position: absolute;
	bottom: 5%;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 10;
}
.slider1 nav {
	position: absolute;
	bottom: 5%;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 20;
}
nav a {
	display: inline-block;
	/*border-radius: 50%;*/
	width: 1rem;
	height: 1rem;
    min-width: 8px;
    min-height: 8px;
	background: #d7d7d7;
	margin: 1rem 1rem;
    transition: transform .3s;
    position: relative;
    z-index: 20;
}
a.current_dot {
    font-size: 2em;
	transform: scale(1.4);
}
a.current_dot1 {
    font-size: 2em;
	transform: scale(1.4);
}

.trecias{
    background-color: #2297d8;
    position: absolute;
    z-index: 25;
    left:676px;
    top:400px;
    height: 230px;
    width: 230px;
    text-align: center; 
    padding-top: auto;
}

.trecias:hover{
    
    background-color: rgba(0, 0, 0, 0.5)
}
/*BAIGIASI HEADERIS*/
/*PIRMA JUOSTA*/
main{
    background-color: rgb(245, 245, 245);
}
.darbai{
    display:list-item;
    vertical-align: text-top;
    background-color: white;
    margin:0px, 0px, 0px, 0px;
    width: 230px;
    height: 230px; 
    border: none;!important;/*KAIP ISSPERSTI BORDERIUS*/
}
.navarotas:hover{
 background-color: rgba(34, 151, 216, 0.9);
}

.services ul{
    display:flex;
    justify-content: center;
     width: 100%;
    text-align: center;
    
}
.services1 ul{
    display: flex;
    justify-content: center;
     width: 100%;
    text-align: center;
    
}
/*ANTRA JUOSTA SLIDERIS*/
.intro2{
	position: absolute;
	width: 98.5%;
    
    display: flex;
    justify-content: center;
    height: 240px;
}
.darbai2{
    position: relative;
    display:list-item;
    vertical-align: text-top;
    background-color: white;
   
    width: 460px;
    height: 230px;   
}
.slider2 {	
	width: 460px;
	height: 230px;  
}

.center2-y {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #d7d7d7;
  background-color: #fff;
   
}
.slider2 nav {
	position: absolute;
	bottom: 5%;
	left: 0;
	right: 0;
	text-align: center;
}
.slider2 li {
	width: 100%;
	height: 100%;
	transition: clip .7s ease-in-out, z-index 0s .7s;
	clip: rect(0, 100vw, 100vh, 100vw);
	display: table;
}
li.current {
    position: absolute;
    
	z-index: 1;
	clip: rect(0, 100vw, 100vh, 0);
}
li.prev {
    position: absolute;
	clip: rect(0, 0, 100vh, 0);
}

a.current_dot2 {
    font-size: 2em;
	transform: scale(1.4);
}
	


/*RESPONSIVE HEADER*/
@media only screen and (max-device-width:1200px){
       

  .wrapper {
   width: 363px;

} 
.intro {
    top: 170px;
    left: 160px;
    width: 1000px;
    height: 240px;
}
.slider {
	width: 460px;
	height: 230px;  
}  
    .slider1 {
	width: 230px;
	height: 230px;
    margin-right:110px;
    margin-left: 250px;
} 
.trecias{
    left:605px;
    top:400px;
    height: 230px;
    width:230px;
}
}
@media only screen and (max-device-width:1024px){
  .wrapper {
 width: 280px;
} 
.meniu{
    right: 100px;
    }
.intro {
    top: 170px;
    left: 40px;
    width: 1000px;
    height: 240px;
}
.slider {
	width: 460px;
	height: 230px; 
    left:30px;
}  
.slider1 {
	width: 230px;
	height: 230px;
    margin-right: 70px;
    margin-left: 260px;
} 
.trecias{
    left: 515px;
    top: 400px;
    height: 230px;
    width: 230px;
}
}
@media only screen and (max-device-width:768px){
  .wrapper {
 width: 200px;
      height: 530px;
} 
.meniu{
    right: 40px;
    position: absolute;
    z-index: 15;
    }
.intro {
	position: absolute;
	width: 600px;;
    top: 190px;
    left: 150px;
    height: 240px;
}
.slider {
	width: 320px;
	height: 150px; 
    margin-right: 320px;
}  
    .slider1 {
	display: none;
} 
    .top-header{
    height: 530px;
}
    .trecias{
    left:400px;
    top:340px;
    height: 190px;
    width:200px;
    
}
}
@media only screen and (max-device-width:600px){
  .wrapper {
 visibility: hidden;
} 
.logo{
    padding-left: 20px;
    }
.intro {
	position: absolute;
	width: 80%;
    top: 190px;
    left: 100px;
   height: 240px;
}
.slider {
	width: 320px;
	height: 150px; 
    margin-right: 0px;!important;
}  
    .trecias{
    left:60px;
    top:375px;
    height: 155px;
    width:200px;
    }
.slider nav {
	position: absolute;
	bottom: 15px;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 10;
    top:130px;
    }
    .text {
	margin-bottom: 40px;
        padding-top: 0px;
}
    .center-y h3{
        margin-top: 40px;
        margin-bottom: 0px;
    }
@media only screen and (max-device-width:400px){
  .wrapper {
 visibility: hidden;
} 
.meniu{
    left:240px;
    }
.intro {
	position: absolute;
	width: 50%;
    top: 190px;
    left: 125px;
   
    height: 240px;
}
.slider {
	width: 200px;
	height: 150px; 
}  
    .trecias{
    left:40px;
    top:375px;
    height: 155px;
    width:200px;
}
}
    /*RESPONSIVE SERVICES*/