
.logo{
    padding-left: 220px;
    padding-top: 30px;
}
.top-header{
    display: inline-flex; !important;
    justify-content: space-between;
    height: 630px;
    width: 100%;
    background-image: url("../images/builder.png");
    background-repeat: no-repeat;
    background-position:center;
    background-color:rgba(2, 16, 38, 0.7);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;   
}
.dropbtn{
   
   font-size: 60px;
    width: 160px;
    padding-top: 30px;
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
}
.meniu{
    right: 200px;
    position: absolute;
    z-index: 15;

}
li a:hover, .dropdown:hover .dropbtn {
   text-decoration: none;
    color:black;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    max-width: 160px;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 40;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;   
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
    
}
/*BACKGROUND SLIDERIS*/
.wrapper {
  overflow: hidden;
  width: 444px;
  
}

.sliding-background {
  background: url("../images/panorama-room-home-design-very-nice-wonderful-under-panorama-room-interior-design-trends.jpg") repeat-x;
  height: 630px;
  width: 3000px;
  animation: slide 200s linear infinite;
   
}

@keyframes slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-2400px, 0, 0);
  }
}
/*SLIDERIS*/
.intro {
	position: absolute;
	width: 97%;
    top: 180px;
    display: flex;
    justify-content: center;
    height: 240px;
}

.slider {
	float: left;
	position: relative;
    left: 35px;
	width: 475px;
	height: 220px;  
}
.slider1 {
	float: right;
	position: relative;
	width: 240px;
	height: 220px;
    margin-left: 265px;
    
}
.slider li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: clip .7s ease-in-out, z-index 0s .7s;
	clip: rect(0, 100vw, 100vh, 100vw);
	display: table;
}
.slider1 li {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	transition: clip .7s ease-in-out, z-index 0s .7s;
	clip: rect(0, 100vw, 100vh, 100vw);
	display: table;
    
}
.center-y {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
    background-color: #f8c32e;
    padding-left: 50px;
    padding-right: 50px;
}
.center-y h3{  
	font-size: 25px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 38.5px;
    color: #363636;
}
.center1-y {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #d7d7d7;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
}
h3 {
	font-size: 2rem;
    margin-bottom: 5px;
}
h3 + a {
	font-size: 1.6rem;
	display: inline-block;
	color: #d7d7d7;
	margin-top: 0px;
}
h3, h3 + a {
	opacity: 0;
	transition: opacity .7s 0s, transform .5s .2s;
	transform: translate3d(0, 50%, 0);
}
li.current h3, li.current h3 + a {
    padding-bottom: 30px;
	opacity: 1;
	transition-delay: 1s;
	transform: translate3d(0, 0, 0);
}
li.current {
    position: absolute;
	clip: rect(0, 100vw, 100vh, 0);
    /*z-index: 1;*/
}
li.prev {
    position: absolute;
	clip: rect(0, 0, 100vh, 0);
}
.slider nav {
	position: absolute;
	bottom: 5%;
	left: 0;
	right: 0;
	text-align: center;
	/*z-index: 10;*/
}
.slider1 nav {
	position: absolute;
	bottom: 5%;
	left: 0;
	right: 0;
	text-align: center;
	/*z-index: 10;*/
}
nav a {
	display: inline-block;
	/*border-radius: 50%;*/
	width: 1rem;
	height: 1rem;
    min-width: 8px;
    min-height: 8px;
	background: #d7d7d7;
	margin: 1rem 1rem;
    transition: transform .3s;
    position: relative;
    /*z-index: 1;*/
}
a.current_dot {
    font-size: 2em;
	transform: scale(1.4);
}
a.current_dot1 {
    font-size: 2em;
	transform: scale(1.4);
}

.trecias{
    background-color: #2297d8;
    position: absolute;
    /*z-index: 10;*/
    left:50%;
    top:400px;
    height: 230px;
    width: 230px;
    text-align: center;
    font-family: Verdana, sans-serif;
   
}

.trecias:hover{
    background-color: rgba(0, 0, 0, 0.5)
}
.trecias{
    font-family: Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    color: white; 
    padding-top: 10px;
}
.trecias a{
    text-decoration: none;
}
.trecias img{
    height: 20%;
    width: auto;
  padding-left: 50px;
    padding-right: 50px;
}
/*BAIGIASI HEADERIS*/
/*PIRMA JUOSTA*/
main{
    background-color: rgb(245, 245, 245);
}
.darbai{
    display:block;
    vertical-align: text-top;
    background-color: white;
    margin:0px, 0px, 0px, 0px;
    width: 230px;
    height: 230px; 
    border: none;!important;
}
#veidas{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 5px;
}
.darbai i{
    color:#f8c32e;
}


.services ul{
    display:flex;
    justify-content: center;
     width: 100%;
    text-align: center;
    
}
.services1 ul{
    display: flex;
    justify-content: center;
     width: 100%;
    text-align: center;
    
}
/*MODAL*/
.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
    z-index: 20;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0,0,0, .9);
  transition: opacity .25s ease;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
  top: 0;
}

.modal__inner {
 transition: top .25s ease;
  position: absolute;
 top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  padding: 1em 2em;
  height: 70%;
}
.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
	
  .modal__inner {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
  }
}
.btn {
  cursor: pointer;
  background: white;
  display: inline-block;
  padding: .5em 1em;
  color: black;
  border-radius: 3px;
}

.btn:hover,
.btn:focus {
  background: rgba(34, 151, 216, 0.9);
}

.btn:active {
  background: rgba(34, 151, 216, 0.9);
  box-shadow: 0 1px 2px rgba(0,0,0, .2) inset;
}
p img {
  max-width: 200px;
  height: auto;
  float: left;
  margin: 0 1em 1em 0;
}
/*ANTRA JUOSTA SLIDERIS*/
.intro2{
	position: absolute;
	width: 98.5%; 
    display: flex;
    justify-content: center;
    height: 240px;
}
.darbai2{
    position: relative;
    display:list-item;
    vertical-align: text-top;
    background-color: white;
    width: 460px;
    height: 230px;   
}
.slider2 {	
	width: 460px;
	height: 230px;  
}

.center2-y {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #d7d7d7;
  background-color: #fff;
   
}
.slider2 nav {
	position: absolute;
	bottom: 5%;
	left: 0;
	right: 0;
	text-align: center;
}
.slider2 li {
    position: absolute;
	width: 100%;
	height: 100%;
	transition: clip .7s ease-in-out, z-index 0s .7s;
	clip: rect(0, 100vw, 100vh, 100vw);
	display: table;
}
li.current {
    position: absolute;
	/*z-index: 1;*/
	clip: rect(0, 100vw, 100vh, 0);
}
li.prev {
    position: absolute;
	clip: rect(0, 0, 100vh, 0);
}

a.current_dot2 {
    font-size: 2em;
	transform: scale(1.4);
}
/*TRECIA JUOSTA SU GELTONU*/
.services2 ul{
    display: flex;
   justify-content: center;
    margin-left: 15.7%; 
    text-align: center;
    
}
#melyna{
    background-color: #2297d8;
    height: 230px;
    width: 230px;   
}
#melyna img{
    padding-top: 50px;
}
 #melyna h4{
    font-family: Verdana, serif;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
}
#paieska{
    background:linear-gradient(rgba(2, 16, 38, 0.9), rgba(2, 16, 38, 0.9)),rgba(2,16,38,0.9) url("../images/Decoration-Modern-Living-Room-Idea-For-Inspiration-With-Interior-Design-Set-In-Modern-And-Good-Composition-Collor-In-The-Room-So-Good.jpg");
    background-size: 100% 100%;
    height: 230px;
    width: 670px;
}
#paieska h4{
    font-family: Verdana, serif;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    padding-top: 135px;
    padding-left: 150px;
}
/*SEARCH*/

#content {
  position: absolute;
  height: 50px;
  width: 300px;
  /*margin-left: 170px;*/
  top: 1200px;
  left:870px;
  transform: translate(-50%, -50%);
}

#content.on {
  -webkit-animation-name: in-out;
  animation-name: in-out;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.input1{
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 4px solid #FFFFFF;
  border-radius: 50%;
  background: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}
.input1{
    margin-left: 400px;
}

.search {
  background: none;
  position: absolute;
  top: 0px;
  left: 400px;
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 100%;
  outline: 0;
  border: 0;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.search:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 26px;
  margin-left: 17px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.close {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.close:before {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  margin-top: -1px;
  margin-left: -13px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.close:after {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  background-color: #fff;
  margin-top: -1px;
  margin-left: -13px;
  cursor: pointer;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.square {
  box-sizing: border-box;
  padding: 0 40px 0 10px;
  width: 400px;
  height: 50px;
  border: 4px solid #FFFFFF;
  border-radius: 0;
  background: none;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
  -webkit-transition-delay: 0.4s, 0s, 0.4s;
  transition-delay: 0.4s, 0s, 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}
/*MODAL NO HOVER KAINOS*/
.btn1 {
  cursor: pointer;
  display: inline-block;
  padding: .5em 1em;
  color: black;
  border-radius: 3px;
}

.btn1{
    background-color: #f8c32e;
    height: 230px;
    width: 230px;  
    transition: width 2s;
    -webkit-transition: width 2s; /* Safari 3.1 to 6.0 */
}
.btn1 img{
    height: 32%;
    width: auto;
    margin-top: 60px;   
}
.btn1 h4{
   font-family: Verdana, serif;
    text-transform: uppercase;
    color: black;
    font-size: 20px; 
}
.btn1:active {
  background: rgba(34, 151, 216, 0.9);
  box-shadow: 0 1px 2px rgba(0,0,0, .2) inset;
}
/*MODAL NO HOVER KONTAKTAI KAINOS*/
.btn2{
  cursor: pointer;
  background-color: #2297d8;
  display: inline-block;
  padding: .5em 1em;
  color: white;
  border-radius: 3px;
}

.btn2{
    background-color: #2297d8;
    height: 230px;
    width: 230px;     
}
.btn2 img{
    padding-top: 50px; 
}
.btn2 h4{
   font-family: Verdana, serif;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
}
.btn2:active {
  background: rgba(34, 151, 216, 0.9);
  box-shadow: 0 1px 2px rgba(0,0,0, .2) inset;
}
/*4 EILE DU MODULIAI*/
.services3{
    height: 230px;
    display: flex;

    text-align: center;
}
.services3 ul{
    display:flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}
.apie{
    display: block;
    background-color: white;
    margin:0px, 0px, 0px, 0px;
    width: 460px;
    height: 230px; 
    border: none;!important;
    padding-left: 20px;
    padding-right: 20px;

}
.apie img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-bottom: 5px;
    height: 50px;
}
.apie i{
color: #f8c32e;
}
.apie1{
    display:list-item;
    vertical-align: text-top;
    margin:0px, 0px, 0px, 0px;
    width: 460px;
    height: 230px; 
    border: none;!important;
    background-image: url("../images/05-A%20(1).png");
    background-repeat: no-repeat;
    background-position: right;
    background-color: #d2dcde;
    text-align: left;
    padding-left:20px;
}
.apie1 h4{
    font-family: Verdana, sans-serif;
    text-transform: uppercase;
}
.apie1 p{
    padding-right: 150px;
    font-family: Verdana, sans-serif;
    font-size: 15px;
}
.apie2{
    display:block;
    margin:0px, 0px, 0px, 0px;
    width: 460px;
    height: 230px; 
    border: none;!important;
    background-color: #fcf3d6;
    padding-left: 20px;
    padding-right: 20px;
}
.apie2 img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 5px;
}
.apie2 i{
    color: #f8c32e;
}
.apie3{
    background:linear-gradient(rgba(210, 220, 222, 0.7), rgba(210, 220, 222, 0.7)),rgba(210,220,222,0.7) url("../images/1431607830-1944917240_l.jpg");
    background-size: 100% 100%;
    display:list-item;
    vertical-align: text-top;
    margin:0px, 0px, 0px, 0px;
    width: 230px;
    height: 230px; 
    border: none;!important;
}
.services3 img{
    display: flex;
    justify-content: flex-start;
}
.services img{
    display: flex;
    justify-content: flex-start;
}
/*NUMBER COUNTER*/
.counteris{
 color:#444;
  width:230px;
}
.counter {
 padding-top: 10px;
 display: flex;
    justify-content: flex-start;
    padding-left: 25px;
  font-size:40px;
  width:230;
  height:50px;
}
.counter h4{
    padding-top: 15px;
}
/*6 EILUTE NAUJIENOS ATSILIEPIMAI*/
.naujienos{
    display:list-item;
    vertical-align: text-top;
    margin:0px, 0px, 0px, 0px;
    width: 230px;
    height: 230px; 
    border: none;!important;
    background-color: #2297d8;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color:azure;
   line-height: 1.2;
}
.naujienos h4{
    font-family: Verdana, serif;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
}
.apdaila{
   background:linear-gradient(rgba(210, 220, 222, 0.7), rgba(210, 220, 222, 0.7)),rgba(210,220,222,0.7) url("../images/1443873678_1.jpg");
    background-size: 100% 100%;
    display:list-item;
    vertical-align: text-top;
    margin:0px, 0px, 0px, 0px;
    width: 230px;
    height: 230px; 
    border: none;!important;
    
}
/*PASKUTINE EILUTE*/
.vertikalus{
    display: block;
    height: 460px;
    width: 230px;
    background-color: white;
   
}
.paveikslas{
    height: 460px;
    width: 460px;
}
.grindu{
height: 230px;
    width: 230px;
    background-color: white;
}

.services4 ul{
    position: absolute;
    z-index: 3;
    left: 230px;
    top:2240px;
     display:flex;
    justify-content: center;
     width: 100%;
    text-align: center;
}
.footer{
    position: relative;
    display: flex;
    justify-content: center;   
    background-color: #f5f5f5;
}
.footer h5{
    font-family: Verdana, serif;
    font-size: 14px;
    color: grey;
    padding-right: 200px;
}
footer p{
    font-family: Verdana, sans-serif;
    padding-right:  40px;
}
/*RESPONSIVE HEADER*/
@media only screen and (max-device-width:1824px){
    .services2 ul{
    margin-left: 210px;  
}
    .intro{
    left: 390px;
    width: 1000px;
    height: 240px;
    }
}
.wrapper {
   width: 450px;
}
@media only screen and (max-device-width:1700px){
    .intro{
    left: 330px;
    }
}
.wrapper {
   width: 390px;
}
@media only screen and (max-device-width:1600px){
.intro{
    left: 280px;
    } }  
@media only screen and (max-device-width:1500px){
.intro{
    left: 230px;
    } }  
@media only screen and (max-device-width:1400px){
.intro{
    left: 155px;
    } } 
@media only screen and (max-device-width:1300px){
.intro{
    left: 130px;
    } 
  .wrapper {
   width: 320px;
} 
      .services2 ul{
    margin-left: 190px;  
}
} 
@media only screen and (max-device-width:1200px){
  .wrapper {
   width: 320px;
} 
.intro {
    left: 80px;
}
     .services2 ul{
    margin-left: 140px;  
} 
}
@media only screen and (max-device-width:1024px){
  .wrapper {
 width: 280px;
} 
.meniu{
    right: 100px;
    }
.intro { 
    left: 40px;
}
.slider {
    left:30px;
}  
.slider1 {
    margin-right: 70px;
    margin-left: 260px;
} 
.services2 ul{
    margin-left: 50px;  
}
    .input1{
    margin-left: 220px;
}
    .search{
        left:230px;
    }
}
@media only screen and (max-device-width:900px){
    .wrapper {
 width: 280px;
} 
    .intro{
        width: 960px;
        left: 0px;
    }
    .services2 ul{
    margin-left: 0px;  
}
    .square{
        width: 300px;
    }
     .input1{
    margin-left: 50px;
}
    .search{
        position: absolute;
        left:150px;
    }
    .services4 ul{
        width: 460px;
        margin-left: 215px;
    }
    .btn1{
        width: 220px;
    }
}
@media only screen and (max-device-width:768px){
  .wrapper {
 display: none;
} 
.meniu{
    right: 40px;
    position: absolute;
    z-index: 15;
    }
.intro {
	display: none;
        
}
.slider {
	display: none;
}  
    .slider1 {
	display: none;
} 
    .trecias{
        left:270px;
    }
    #pirma{
        display:none;
    }
    #paieska{
        display: none;
    }
    #atsiliepimai{
        width: 190px;
    }
    .vertikalus{
        display: none;
    }
    .services4 ul{
        
        margin-left: 35px;
    }
    .footer h5{
        padding-left: 100px;
    }
}

@media only screen and (max-device-width:600px){

.logo{
    padding-left: 20px;
    }
     
    #atsiliepimai{
        width: 70px;
    }
     .modal__inner {
     width: 50%;
     height: 80%;
     position: absolute;
     top:0;
        left:0px;
    }
    .darbai{
        width: 50%;
    }
    .apie1{
        width: 50%;
    }
    .apie2{
        width: 50%;
    }
    .naujienos{
        display:none;
    }
    .btn1{
       width: 200px; 
    }
    .btn2{
       width: 200px; 
    }
    .paveikslas{
    width: 100%;
}
    #santechnika{
        position: absolute;
        left:50%;
      width: 50%;
       
    }
    .counteris{
        width: 25%;
    }
    #sevizas{
        display:none;
    }
    #sevizas1{
        display:none;
    }
    }
    .grindu{
        
      margin-left: 50%;
      width: 250px;
    }
    .services4 ul{
        left:50px;
    }
    .footer h5{
        padding-right: 0px;
        padding-left: 0px;
        display: none;
    }
    #paskutinis{
        display: none;
    }
}

@media only screen and (max-device-width:400px){
  .logo{
    padding-left: 20px;
    }
.meniu{
    left:240px;
    }
    #pirmasis{
        display:none;
    }
    .trecias{
        left:100px;
    } 
    
.services4 ul{
        left: 140px;
          margin-left: 0px;
    }
    
    .modal__inner {
     width: 50%;
     height: 80%;
     position: absolute;
     top:0;
        left:0px;
    }
    .darbai{
        width: 50%;
    }
    .apie1{
        width: 50%;
    }
    .apie2{
        width: 50%;
    }
    .naujienos{
        display:none;
    }
    .btn1{
       width: 200px; 
    }
    .btn2{
       width: 200px; 
    }
    .paveikslas{
    width: 100%;
}
    #santechnika{
      width: 50%;
        margin-left: 20px;
    }
    .counteris{
        width: 25%;
    }
    #sevizas{
        display:none;
    }
    #sevizas1{
        display:none;
    }
    #santechnika{
    position:absolute;
        left:180px;
    }
    .grindu{
        width: 200px;
       
    }
    .services4 ul{
        left:50px;
    }
    .footer h5{
        padding-right: 0px;
        padding-left: 0px;
        display: none;
    }
    #paskutinis{
        display: none;
    }
    
}
    /*RESPONSIVE SERVICES*/